/*ARTISTE_PROJET_3
* nav_max_width_640px
* started at 15/11/15
*/

html{
  font-size: 10px;
  font-family: Roboto, nexa, "Helvetica Neue", Arial, sans-serif;
}

/**** NAV ****/
h1{
  display: none;
}

nav{
  background: #0688C1;
  height: 150px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.6);
}

a{
  text-decoration: none;
}

/***LOGO***/

.logo a{
  display: block;
  width: 250px;
  color: #A7D3E6;
  margin: 0 auto;
  text-align: center;
  padding-top: 1em;
}

.logo a:after{
  content: "";
  display: inline-block;
  width: 170px;
  border-top: 1px solid white;
  position: relative;
  bottom: 10px;
  transition: .3s;
}

/*.logo a:hover:after{
  width: 210px;
}*/

.logo .active{
  color: white;
}

.logo .firstname{
  font-family: "nexa";
  font-size: 2.5em;
}

.logo .lastname1{
  font-family: "nexa";
  font-size: 4em;
}

.logo .lastname2{
  font-family: "nexa";
  font-weight: bold;
  font-size: 4em;
}

/***FIN_LOGO***/

.wrapper_nav{
  width: inherit;
  margin: inherit;
}


/***MENU***/

nav ul{
  text-align: center;
  margin-top: 1em;
  margin-left: inherit;
  margin-top: inherit;
}

nav ul li{
  display: inline-block;
  font-size: 1.5em;
  line-height: 1.5em;
}

nav ul li a{
  color: white;
  text-transform: uppercase;
  font-family: "nexa";
}

/*** MENU ANIMATION ***/

nav ul li a:before,
nav ul li a:after{
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

nav ul li a:before{
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

nav ul li a:after{
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

nav ul li a:hover:before,
nav ul li a:hover:after,
nav ul li a:focus:before,
nav ul li a:focus:after{
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

/***FIN_MENU_ANIMATION***/
/***FIN_MENU***/